[submodule "skelshop"]
	path = skelshop
	url = git@github.com:frankier/skelshop.git
[submodule "forks/javacpp-presets-add-openpose"]
	path = forks/javacpp-presets-add-openpose
	branch = add-openpose
	url = git@github.com:frankier/javacpp-presets.git
[submodule "forks/opencv_wrapper"]
	path = forks/opencv_wrapper
	branch = redhen
	url = git@github.com:frankier/opencv_wrapper.git
[submodule "forks/openpose"]
	path = forks/openpose
	branch = enable-identification
	url = git@github.com:frankier/openpose.git
[submodule "forks/slurm"]
	path = forks/slurm
	branch = req-run
	url = git@github.com:frankier/slurm.git
[submodule "forks/singularityhub-docs"]
	path = forks/singularityhub-docs
	url = git@github.com:frankier/singularityhub-docs.git
	branch = high-level-deployments
